<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{ $t("labels.eshop") }}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><router-link to="/">{{$t("labels.home")}}</router-link></li>
                    <li class="breadcrumb-item active">{{ $t("labels.eshopItems") }}</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="card flex-column justify-content-center align-items-center" v-if="isLoading">
        <img class="animation__shake" src="@/assets/img/groupwearesolutions.png" alt="AdminLTELogo" height="60" width="60">
    </div>
    <div v-else class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">{{ $t("labels.eshopItems") }}</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Search Item">
                            <div class="input-group-append">
                                <div class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">

                    <div class="mailbox-controls">

                        <button type="button" class="btn btn-default btn-sm" v-on:click="otherPage(0)">
                            <i class="fas fa-sync-alt"></i>
                        </button>

                        <div class="float-right">
                            {{((pageNo > 0) ? pageNo*10+1 : 1)+'-'+(((pageNo > 0) ? pageNo*10 : 0)+eshopItems.length)}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" :disabled="(pageNo == 0)" v-on:click="otherPage(-1)">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" :disabled="(!nextPageAllowed)" v-on:click="otherPage(1)">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <tr>
                                <th style="width:40%">{{ $t("eshop.name") }}</th>
                                <th>{{ $t("eshop.blankUrl") }}</th>
                                <th class="text-center">{{ $t("eshop.defaultImage") }}</th>
                                <th class="text-right">{{ $t("eshop.price") }} {{ $t("eshop.withoutVat") }}</th>
                                <th class="text-right">{{ $t("eshop.vat") }}</th>
                                <th class="text-right">{{ $t("eshop.price") }} {{ $t("eshop.withVat") }}</th>
                                <th class="text-right">{{ $t("labels.ratting") }}</th>
                                <th class="text-right">{{ $t("eshop.saleDateStart") }}</th>
                            </tr>
                            <tbody>
                                <tr v-for="eshopItem,index in eshopItems">
                                    <td class="mailbox-name pointer" v-on:click="showEshopItem(eshopItem.id)" v-if="($t('check') == 'cz')">
                                        <strong>{{eshopItem.name_cz}}</strong>
                                        <div v-html="eshopItem.shortDescription_cz"></div>
                                    </td>
                                    <td class="mailbox-subject pointer" v-on:click="showEshopItem(eshopItem.id)" v-if="($t('check') == 'en')">
                                        <strong>{{eshopItem.name_en}}</strong>
                                        <div v-html="eshopItem.shortDescription_en"></div>
                                    </td>

                                    <td class="mailbox-subject pointer"><a :href="eshopItem.blankUrl" target="_blank">{{eshopItem.blankUrl}}</a></td>

                                    <td class="mailbox-attachment pointer text-center" v-on:click="showEshopItem(eshopItem.id)"><img :src="eshopItem.attachments[0].content" v-if="(eshopItem.attachmentExist)" style="height:120px;" /></td>

                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.priceType == 'VALUE'">
                                        {{eshopItem.price * (1/getCurrencyByCountry($t('check')).value)}}
                                        <span>{{getCurrencyByCountry($t('check')).name}}</span>
                                    </td>
                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.priceType == 'CALCULATE'">{{$t("eshop.calculatedPrice")}}</td>
                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.priceType == 'AGREED'">{{$t("eshop.agreedPrice")}}</td>

                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.price >= 0">{{getVatById(eshopItem.vatId).name}}</td>

                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.priceType == 'VALUE' && ($t('check') == 'cz')">
                                        {{Math.round(eshopItem.price * (1/getCurrencyByCountry($t('check')).value) * (1 + getVatById(eshopItem.vatId).value),0)}}
                                        <span>{{getCurrencyByCountry($t('check')).name}}</span>
                                    </td>
                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.priceType == 'VALUE' && ($t('check') == 'en')">
                                        {{(Math.round(eshopItem.price * (1/getCurrencyByCountry($t('check')).value) * 100 * (1 + getVatById(eshopItem.vatId).value),2))/100}}
                                        <span>{{getCurrencyByCountry($t('check')).name}}</span>
                                    </td>
                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.priceType == 'CALCULATE'">{{$t("eshop.calculatedPrice")}}</td>
                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)" v-if="eshopItem.priceType == 'AGREED'">{{$t("eshop.agreedPrice")}}</td>

                                    <td class="mailbox-subject pointer text-right" v-on:click="showEshopItem(eshopItem.id)">{{eshopItem.totalRatting}}</td>

                                    <td class="mailbox-date pointer text-right" v-on:click="showEshopItem(eshopItem.id)">{{new Date(eshopItem.timestamp).toLocaleDateString("cs-CZ").replace(/\s+/g, '')}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer p-0">
                    <div class="mailbox-controls">

                        <button type="button" class="btn btn-default btn-sm" v-on:click="otherPage(0)">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                        <div class="float-right">
                            {{((pageNo > 0) ? pageNo*10+1 : 1)+'-'+(((pageNo > 0) ? pageNo*10 : 0)+eshopItems.length)}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" :disabled="(pageNo == 0)" v-on:click="otherPage(-1)">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-sm" :disabled="(!nextPageAllowed)" v-on:click="otherPage(1)">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
