<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <router-link to="/" class="h2">
                <b>{{ $t("labels.company") }}</b>{{ $t("labels.lte")}}
            </router-link>
        </div>
        <div class="card-body">
            <p class="login-box-msg">
                {{ $t("messages.recoverYourPasswordNow") }}
            </p>
            <form @submit.prevent="recoverPassword('login')">
                <div class="input-group mb-3">
                    <input class="form-control" type="email" disabled="disabled" :placeholder="$t('labels.email')" maxlength="255" autocomplete="off" v-model="email" :class="{ wrongInput: v$.email.$invalid }" v-on:input="validations()" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" type="password" :placeholder="$t('labels.password')" v-model="password" :class="{ wrongInput: v$.password.$invalid }" v-on:input="validations()" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input class="form-control" id="retypePassword" type="password" :placeholder="$t('labels.retypePassword')" maxlength="20" v-model="rePassword" :class="{ wrongInput: v$.rePassword.$invalid }" v-on:input="validations()" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <app-button class="btn-primary"
                                    type="submit"
                                    block="true" :disabled="v$.$invalid">
                            {{ $t("labels.signIn") }}
                        </app-button>
                    </div>
                </div>
            </form>

            <p class="mt-3 mb-1">
                <router-link to="/login" class="text-center">
                    {{ $t("labels.login") }}
                </router-link>
            </p>

            <p class="mt-3 mb-1">
                <router-link to="/forgotpassword">
                    {{ $t("labels.forgotPassword") }}
                </router-link>
            </p>
        </div>
    </div>
</div>
